<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">mnemosyne</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="home">Login</a></li>
        <li><a ui-sref="signup">Signup</a></li>
        <li><a href="#">No</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <legend>로그인</legend>
      <form accept-charset="utf8" ng-submit="login(credentials)">
        <div class="form-group">
          <label for="LoginInputEmail">이메일</label>
          <input ng-model="credentials.email" type="email" class="form-control" id="LoginInputEmail" placeholder="이메일">
        </div>
        <div class="form-group">
          <label for="LoginInputPassword">비밀번호</label>
          <input ng-model="credentials.password" type="password" class="form-control" id="LoginInputPassword" placeholder="비밀번호">
        </div>
        <button type="submit" class="btn btn-default">로그인</button>
      </form>
    </div>
  </div>
</div>